.about {
    margin-top: 248px;
    margin-bottom: 70px;
    font-weight: 500;
    font-size: 22px;
    color: rgb(142 152 149);
}
.about .content ul {
    margin-left: 10px;
    list-style: none;
    padding: 0;
}
.about .content ul li {
    font-size: 22px;
    margin-left: 10px;
    padding-bottom: 10px;
}
.about .content ul i {
    margin-left: 10px;
    font-size: 15px;
    padding-right: 2px;
    color: rgb(60, 128, 192);
}
.abput .content p:last-child {
    margin-bottom: 0;
}
#img2 {
    float: left;
    width: 275px;
    height: 319px;
}
.about .content h3, .about .content p {
    margin-left: 30px;
    margin-bottom: 20px;
}
.about .container .section-title {
    margin-bottom: 40px;
}
