.navbar {
  z-index: 2000;
  position: fixed;
  width: 100%;
  background: rgba(26, 25, 25, 0.94);
  overflow-y: auto;

}
.navbar a {
  align-items: center;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.3s;
  font-size: 15px; 

}
.navbar i {
  align-items: center;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.3s;
  font-size: 15px;   

}

.navbar a i {
  font-size: 17px;
  padding-right: 8px;
  color: gray;
}
#nav1 a:hover,
#nav1 .active > a {
  text-decoration: none;
  color: white;
}
.navbar a:hover i,
.navbar .active > a i {
  color: rgb(56, 126, 192);
}
.navbar-toggler {
  color: white;
  background-color: rgb(71, 70, 70);
  width: 100px;
  padding: 9px 21px 0px 0px;
}