
#portfolio {
    margin-top: 247px;
    margin-bottom: 70px;
    font-family: "Open Sans", sans-serif;
    color: rgb(32, 32, 32);
}
a {
    color: rgb(33, 114, 165);
}
a:hover {
    color: rgb(78, 140, 181);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arvo', serif;
}
