footer {
  background: rgba(26, 25, 25, 0.94);
  height: auto;
  width: 100vw;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 0px;
  color: #bbb5b5;
  margin-top: 100px;
  margin-bottom: 0px;

}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 21px;
  font-weight: 300;
  text-transform: capitalize;
  line-height: 3rem;
  text-align: center;
}

.footer-content p {
  margin-top: 19px;
  margin-bottom: 1px;
  text-align: center;
  max-width: 500px;
  line-height: 28px;
  font-size: 18px;
}

.socials{
  list-style: none;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  margin: 0rem 0 1rem 0;
}

.socials li{
  /* margin: 0 10px; */
  font-size: 24px;
}

.socials a{
  text-decoration: none;
  color: #bbb5b5;

}

.socials a i{
  font-size: 32px;
  text-align: center;
  transition: color .4s ease;
  letter-spacing: 20px;    
}

.socials a:hover i {
  color: aqua;
}

.footer-bottom{
  background: rgb(29, 28, 28);
  width: 100vw;
  padding: 6px 0;
  height: 34px;
  text-align: center;
}

.footer-bottom p{
  font-size: 16px;
  word-spacing: 2px;
  text-transform: capitalize;
  text-align: center;
  margin-left: 0;
}

.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}



*, *::before, *::after {
  box-sizing: border-box;
  margin-bottom: 0px;
}